# Dependencies
node_modules/
/dist/

# Rust/Cargo
target/
**/*.rs.bk
cargo-artifacts.lock

# Android
.gradle/
build/
local.properties
app/build/
.cxx/
*.iml
.idea/
capture/
# Com o Git LFS rastreando *.apk, não precisamos ignorar *.apk globalmente na pasta release
# Mas podemos ignorar builds locais temporários fora de release:
app/build/outputs/apk/debug/*.apk

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs & Editors
.vscode/
.idea/
*.suo
*.user
*.workspace

# Logs & temp
*.log
*.tmp
*.bak
temp/
tmp/
